In [6]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

## READ DATA

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('olympics.csv')

In [9]:
df.head()

,Year,City,Sport,Discipline,Athlete,Country Code,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,France,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,France,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,France,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,France,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Switzerland,Men,Military Patrol,Gold

In [10]:
df.nunique()

Year              22
City              19
Sport              7
Discipline        15
Athlete         3761
Country Code      45
Country           45
Gender             2
Event             83
Medal              3
dtype: int64

## IDEA 1. Ratio of medals given to male vs. female (split bar char)

- show direct trends of inequality for medals given
- show how more medals have become available for women over time

In [11]:
men_medals = df[df.Gender=='Men'].groupby(['Year']).size()
women_medals = df[df.Gender=='Women'].groupby(['Year']).size()

ratio_medals = men_medals/women_medals

In [12]:
men_medals

Year
1924    112
1928     83
1932    110
1936     99
1948    125
1952    118
1956    123
1960    108
1964    139
1968    153
1972    155
1976    159
1980    167
1984    168
1988    201
1992    226
1994    232
1998    258
2002    273
2006    299
2010    296
2014    340
dtype: int64

In [13]:
women_medals

Year
1924      6
1928      6
1932      6
1936      9
1948     15
1952     18
1956     27
1960     39
1964     46
1968     46
1972     45
1976     51
1980     51
1984     54
1988     63
1992     99
1994    111
1998    189
2002    208
2006    232
2010    233
2014    272
dtype: int64

In [14]:
ratio_medals

Year
1924    18.666667
1928    13.833333
1932    18.333333
1936    11.000000
1948     8.333333
1952     6.555556
1956     4.555556
1960     2.769231
1964     3.021739
1968     3.326087
1972     3.444444
1976     3.117647
1980     3.274510
1984     3.111111
1988     3.190476
1992     2.282828
1994     2.090090
1998     1.365079
2002     1.312500
2006     1.288793
2010     1.270386
2014     1.250000
dtype: float64

## IDEA 2. Gender participation per total number of disciplines existing

- metric shows inequality of participation for disciplines available
- men were more likely to participate in existing disciplines at the time
- not all available discipines welcomed women
- good normalized metric to see how more disciplines opened women participation over time
- COUNTING PARTICIPANTS AND NOT MEDALS GIVEN

In [15]:
# # number of each gender per discipline, for visualization only
# y, d, g, c = [], [], [], []
# for i in set(df.Year):
#     for j in set(df.Discipline):
#         for k in set(df.Gender):
#             c.append(len(set(df[(df.Year==i)&(df.Discipline==j)&(df.Gender==k)]['Athlete'])))

#             y.append(i)
#             d.append(j)
#             g.append(k)
    
# df_gender_discipline = pd.DataFrame({'Year':y, 'Discipline':d, 'Gender':g, 'Count':c})

# table = pd.pivot_table(df_gender_discipline, values='Count', 
#                        index=['Discipline', 'Gender'], columns=['Year'])

In [16]:
# table

In [17]:
# number of unique participants per gender
n_participants = df.groupby(['Year', 'Gender'])['Athlete'].nunique()

# total number of disciplines
n_disciplines = df.groupby(['Year'])['Discipline'].nunique()

# ratio of number of participants per discipline
n_gender_discipline = n_participants/n_disciplines

In [18]:
n_participants

Year  Gender
1924  Men        97
      Women       6
1928  Men        77
      Women       6
1932  Men       100
      Women       6
1936  Men        86
      Women       9
1948  Men       116
      Women      12
1952  Men       101
      Women      15
1956  Men       107
      Women      24
1960  Men        98
      Women      33
1964  Men       123
      Women      33
1968  Men       134
      Women      33
1972  Men       137
      Women      33
1976  Men       137
      Women      38
1980  Men       142
      Women      43
1984  Men       143
      Women      39
1988  Men       173
      Women      42
1992  Men       194
      Women      76
1994  Men       195
      Women      86
1998  Men       228
      Women     158
2002  Men       235
      Women     175
2006  Men       250
      Women     198
2010  Men       251
      Women     199
2014  Men       280
      Women     229
Name: Athlete, dtype: int64

In [19]:
n_disciplines

Year
1924     9
1928     8
1932     7
1936     8
1948     9
1952     8
1956     8
1960     8
1964    10
1968    10
1972    10
1976    10
1980    10
1984    10
1988    10
1992    12
1994    12
1998    14
2002    15
2006    15
2010    15
2014    15
Name: Discipline, dtype: int64

In [20]:
n_gender_discipline

Year  Gender
1924  Men       10.777778
      Women      0.666667
1928  Men        9.625000
      Women      0.750000
1932  Men       14.285714
      Women      0.857143
1936  Men       10.750000
      Women      1.125000
1948  Men       12.888889
      Women      1.333333
1952  Men       12.625000
      Women      1.875000
1956  Men       13.375000
      Women      3.000000
1960  Men       12.250000
      Women      4.125000
1964  Men       12.300000
      Women      3.300000
1968  Men       13.400000
      Women      3.300000
1972  Men       13.700000
      Women      3.300000
1976  Men       13.700000
      Women      3.800000
1980  Men       14.200000
      Women      4.300000
1984  Men       14.300000
      Women      3.900000
1988  Men       17.300000
      Women      4.200000
1992  Men       16.166667
      Women      6.333333
1994  Men       16.250000
      Women      7.166667
1998  Men       16.285714
      Women     11.285714
2002  Men       15.666667
      Women     11.666667
2006  Men       16.666667
      Women     13.200000
2010  Men       16.733333
      Women     13.266667
2014  Men       18.666667
      Women     15.266667
dtype: float64

In [21]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
#     print(df)